<div class="container">
    <div class="row">
        <div id="pageTwo" class="col-xs-4 col-xs-offset-4">
            <div>
                <div>
                    <h1>Trending Movies</h1>
                <div>Movies go here:</div>
                </div>
                
                <div>
                    <h2>My Movies</h2>
                    <div>Movies user has selected go here</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/login.js"></script>



{{!-- <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
  ...
</div> --}}